* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

:root {
  --color-green: #27ca7d;
  --color-light-black: #253d4e;
  --color-light-grey: #939393;
  --color-white: #fff;
  --color-black: #000;
}

input,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

body {
  background: var(--color-white);
  font-family: "Quicksand", sans-serif;
  color: var(--color-black);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  width: 1170px;
  margin: auto;
}
