/* Green button */

.btn-green {
  display: flex;
  padding: 13px 23px 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;

  border-radius: 4px;
  background: var(--color-green-gradient);

  color: var(--color-white);

  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  width: 141px;
  cursor: pointer;
}

.btn-green:active {
  transform: scale(0.98);
}

.btn-green:hover {
  outline: 1px solid var(--color-green);
}

/* Socials */

.socials {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.socials__icon_stroke:hover path {
  stroke: var(--color-green);
}

.socials__icon_fill:hover path {
  fill: var(--color-green);
}

/* Slider */

.slider {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.slider__slide {
  position: absolute;
  top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.slider__dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}

.slider__dot,
.swiper-pagination-bullet {
  height: 11.5px;
  width: 11.5px;
  border-radius: 50%;
  transition: all 0.5s;
  outline: 1px solid var(--color-green-2);
  background: var(--color-white);
  opacity: 1;
}

.slider__dot_active,
.swiper-pagination-bullet-active {
  background-color: var(--color-green-2);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
