@import url("common-styles.css");
@import url("header.css");
@import url("footer.css");
@import url("dropdown.css");
@import url("elements.css");

/* Subscribe slider & banner */

.slider_wrapper {
  height: 500px;
  flex-shrink: 0;

  background-image: url("/images/background.jpg");
  background-color: lightgray;
  background-repeat: no-repeat;
}

.slider_outer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 30px;
  padding: 31px 0;
}

.slider {
  position: relative;
  height: 437px;
  width: 770px;

  background-image: url("/images/glass.jpg");
  background-color: lightgray;
  background-repeat: no-repeat;
}

.slider__content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  width: 420px;
  height: 260px;
  margin: 90px 300px 88px 50px;
}

.slider__title {
  color: var(--color-light-black);
  font-size: 56px;
  font-weight: 700;
}

.slider__subtitle {
  color: var(--color-light-grey);
  font-family: Lato;
  font-size: 18px;
  word-spacing: 0.7px;
  padding-top: 22px;
}

.subscribe {
  display: flex;
  width: 420px;
  padding-left: 0px;
  justify-content: space-between;

  border-radius: 4px;
  border: 1px solid var(--4, #d4eee2);
  background: var(--color-white);

  margin-top: 32px;
}

.subscribe__input {
  padding-left: 25px;
}

.subscribe__input::placeholder {
  letter-spacing: 0.14px;
  color: var(--color-light-grey);
}
.subscribe .subscribe__btn {
  padding: 13px 19px;
  width: 106px;
}

.slider__dots {
  position: absolute;
  bottom: 19px;
  left: 47.5%;
}

.banner {
  background-image: url("/images/peaches.jpg");
  background-repeat: no-repeat;
}

.banner__content {
  margin: 102px 102px 0 30px;
}

.banner__title {
  color: var(--color-light-black);
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 32px;
}

.banner__title_green {
  color: var(--color-green);
}

.categories {
  height: 208px;
}

.banners {
  border: 1px solid pink;
  height: 230px;
}

.products__header {
  height: 53px;
}

.products {
  height: 920px;
  border: 1px solid yellow;
}

.nav-bar {
  margin-right: 64px;
}
