@import url("common-styles.css");
@import url("header.css");
@import url("footer.css");
@import url("dropdown.css");

.subscribe-banner {
  border: 1px solid green;
  height: 500px;
  width: 770px;
}

.slider {
  width: 370px;
}

.categories {
  height: 208px;
}

.banners {
  border: 1px solid pink;
  height: 230px;
}

.subscribe-wrapper {
  display: flex;
}

.products__header {
  height: 53px;
}

.products {
  height: 920px;
  border: 1px solid yellow;
}

.nav-bar {
  margin-right: 64px;
}

