@import url("common-styles.css");
@import url("header.css");
@import url("footer.css");
@import url("products.css");
@import url("dropdown.css");
@import url("elements.css");

/* Subscribe slider & banner */

.slider-banner {
  background-image: url("/images/background.jpg");
  overflow-wrap: break-word;
}

.slider-banner_outer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 31px 0 32px 0;
  gap: var(--gap);
}

.main-slider {
  height: 437px;
  width: 770px;
  background-color: #f1fcfe;
}

.main-slide {
  max-height: 438px;
}

.slider-1 {
  background-image: url("/images/glass.jpg");
}

.slider-2 {
  background-image: url("/images/fruit.png");
}

.main-slider__content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 90px 300px 86px 50px;
}

.main-slider__title {
  color: var(--color-light-black);
  font-weight: 700;
  font-size: clamp(32px, 5vw, 56px);
}

.main-slider__subtitle {
  color: var(--color-light-grey);
  font-family: Lato;
  font-size: 18px;
  word-spacing: 0.7px;
  padding-top: 22px;
}

.subscribe {
  display: flex;
  min-width: 420px;
  justify-content: space-between;

  border-radius: 4px;
  border: 1px solid var(--color-light-green);
  background: var(--color-white);
}

.subscribe_margin {
  margin-top: 32px;
}

.subscribe__input {
  padding-left: 25px;
  width: 75%;
  border-radius: 4px;
}

.subscribe__input::placeholder {
  letter-spacing: 0.14px;
  color: var(--color-light-grey);
}

.subscribe .subscribe__btn {
  width: 106px;
  padding: 12px 16px 13px 16px;
}

.banner {
  background-image: url("/images/peaches.jpg");
  border-radius: 8px;
}

.banner__content {
  margin: 102px 102px 0 30px;
}

/* Main */

.categories__header_margin {
  margin-bottom: 8px;
}

.slider-small__btns {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.slider-small {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  overflow-y: inherit;
  gap: var(--gap);
  max-height: 145px;
}

.slider-small__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;
  border-radius: 35px;
  background: var(--color-white);

  box-shadow: 0px 0px 1px 0px rgba(9, 30, 66, 0.31),
    0px 9px 15px 0px rgba(9, 30, 66, 0.08);
}

.slider-small__btn:hover {
  background: var(--color-green-gradient);
}

.slider-small__btn:hover path {
  fill: var(--color-white);
}

.slider-small__btn:active {
  transform: scale(0.95);
}

.slider-small__item {
  display: flex;
  width: 120px;
  padding: 20px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 8px;
  cursor: pointer;
}

.slider-small__item:hover {
  box-shadow: var(--color-shadow);
}

.slider-small__item:active {
  outline: 1px solid var(--color-light-green);
}

.green {
  background: var(--color-light-green);
}

.white {
  background-color: var(--color-white);
  outline: 0.5px solid #e9ecf4;
}

.pink {
  background-color: #f4eaea;
}

.blue {
  background-color: #d9f2f9;
}

.beige {
  background-color: #f2ebd9;
}

.purple {
  background-color: #e9ecf4;
}

.slider-small__icon {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0px 9.725px 0px 7.5px;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider-small__icon_sets {
  background-image: url(/images/sets.png);
}
.slider-small__icon_fruits {
  background-image: url(/images/fruits.png);
}
.slider-small__icon_vegetables {
  background-image: url(/images/vegetables.png);
}
.slider-small__icon_greenery {
  background-image: url(/images/greenery.png);
}
.slider-small__icon_mushrooms {
  background-image: url(/images/mushrooms.png);
}
.slider-small__icon_groceries {
  background-image: url(/images/groceries.png);
}
.slider-small__icon_sweets {
  background-image: url(/images/sweet.png);
}
.slider-small__icon_beverages {
  background-image: url(/images/beverages.png);
}

.slider-small__text {
  color: var(--color-light-black);
  font-size: 14px;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.cards__item {
  border-radius: 8px;
  max-width: 370px;
  max-height: 230px;
}

.oranges {
  background-image: url("/images/oranges.png");
}

.fruit {
  background-image: url("/images/fruit.png");
}

.berries {
  background-image: url("/images/berries.png");
}

.pineapple {
  background-image: url("/images/pineapples.jpg");
}

.bananas {
  background-image: url("/images/bananas.jpg");
}

.buckthorn {
  background-image: url("/images/buckthorn.jpg");
}

.cards__content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin: 92px 102px 29px 30px;
}

.cards__item_border {
  outline: 0.5px solid var(--color-light-grey);
}

.cards__item:hover {
  outline: none;
  box-shadow: var(--color-shadow);
}

/* Daily Best Sells */

.big-card {
  width: 268px;
  height: 482px;
  flex-shrink: 0;
  background-image: url("/images/milk.jpg");

  display: flex;
  justify-content: flex-end;
}

.big-card__content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6px;
  margin-right: 43px;
}

.big-card__title {
  font-family: Quicksand;
}

.products__bottom_wide {
  flex-direction: column;
  width: 100%;
  max-width: 230px;
  margin-top: 11px;
  margin-left: 0;
}

.products__button_wide {
  margin: 0;
  color: var(--color-white);
  background: var(--color-green-gradient);
}

.products__prices_wide {
  margin-bottom: 15px;
}

.products-slider {
  justify-content: center;
  height: 534px;
}

.products-slide {
  height: 483px;
}

/* Hot Promotions */

.promotions {
  height: 534px;
}

.promotions-slide {
  gap: var(--gap);
}

.promotions__item {
  display: flex;
  flex-direction: column;
  height: 482px;
  border-radius: 8px;
  justify-content: end;
  align-items: center;
}

.promotions-slide_1 {
  background-image: url("/images/fish.jpeg");
}

.promotions-slide_2 {
  background-image: url("/images/food.jpeg");
}

.promotions-slide_3 {
  background-image: url("/images/cucumbers.png");
}

.promotions-slide_4 {
  background-image: url("/images/avocado.png");
}

.over-text {
  font-family: Quicksand;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.timer {
  display: flex;
  gap: 24px;
  margin-left: -14px;
}

.timer__box {
  display: flex;
  width: 84px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-radius: 4px;
  background: var(--color-white);
  box-shadow: var(--color-shadow);
}

.timer__label {
  color: var(--color-green);
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
}

.timer__digit {
  color: var(--color-light-black);
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
}

.promotions__info {
  display: flex;
  padding: 21px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  background: var(--color-white);
  margin: 30px 60px 22px;
  box-shadow: var(--color-shadow);
}

.promotion__discount-price {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
}

.font-lato {
  font-family: Lato;
}

.promotions .products__bottom {
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.promotions .products__content {
  padding: 0;
}
